@font-face { font-family: League; src: url('assets/font/Friz_Regular.ttf'); } 


body {
  background-color: rgb(15, 13, 24);
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  font-family: League, sans-serif; 
  width: 70%;
  margin: auto;
}

.charlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  background-color: rgb(17, 17, 17);
  margin: 1%;
  padding: 1%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 240px;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  position: relative;
}
.card:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(37, 37, 37);
}
.cardborder{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  background-image: url(./assets/img/challenger_card.png);
  background-repeat: no-repeat;
  background-size: cover;
}